# Environnement virtuel
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Fichiers de configuration sensibles
.env
*.local

# Base de données SQLite
*.db
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/
